*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    padding: 0 50px;
}
.slick-arrow{
    background: none;
    /* border: none; */
    width: 50px;
    height: 50px;
    color: transparent;
}
.slick-next{
    position: absolute;
    right: 0;
    top:50%;
}
.slick-prev{
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 2;
}