* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider {
  position: relative;
}
.slick-arrow {
  position: absolute;
  background: url(../img/button.svg) center / auto no-repeat;
  border: none;
  color: transparent;
  width: 61px;
  height: 61px;
}
.slick-next {
  top: 50%;
  right: 0;
  rotate: 180deg;
}
.slick-prev {
  top: 50%;
  left: -10px;
  z-index: 100;
}
